*{
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .backgroundimage{
    width: 100%;
    height: 605px;
  }

  .section1
  {
    background-image: url(../assets/background-one.s);
    background-size: cover;
  }
  /*Nav Bar*/
  .nav
  {  
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 5px;
  }
  
  .navbar_toggle{
    display: none;
  }

  .left-nav img{
    width:60px;
    height:50px;
    position: absolute;
    top: 17px;
    left: 100px; 
  }
  .main_nav{
    position: absolute;
    top: 10px;
    right: 100px;
    list-style: none;
    align-content: center;
    text-align: right;
  }
  
  .main_nav li{
    display: inline;
    padding: 10px;
  }
  .main_nav li a{
    font-style: normal;
    font-size: 16px;
    color: #ffffff;
  }
  /*Main Frame*/

  .frame-text{
  position: absolute;
  width: 534.24px;
  height: 126px;
  left: 100px;
  top: 140px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: #FFFFFF;
  line-height: 150%;
  }

  .frame-image{
    position: absolute;
    right: 100px;
    top: 70px;
  }
  
 .frame-text i
  {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.65);
    margin-right: 10px;
    padding: 5px 5px 0px 5px;
  }

  /*Section2*/
  .text-wrapper{
    font-weight: normal;
    font-size: 18px;
    width: 60%;
    text-align: center;
    color: #7F7E7E;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  /*Section Part 2*/ 
  .card{
    margin: 35px 120px 0px 120px;
    display: flex;
  }
  .textwidth{
    margin-top: 11px; 
    width: 400px; 
    margin: 0 auto;
  }
.headingtext
{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 143.1%;
  color: #000000;
}
  .text-container{
    height: fit-content;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 143.1%;
    color: #7F7E7E;
    margin: 50px 0px 50px 0px;
  }
  .paddedtext
  {
    width: 400px; 
    padding-left: 100px;
  }
  .image-container{
    padding: 0px 50px 0px 50px;
  }
  .section2
  {
  align-content: center;
  }

    /*Section 2 Part 3*/ 

    /*Gallery*/
    .outer-grid
    {
      display: flex;
    }

    .inner-grid{
      margin: 0px 100px 0px 100px;
    }
    .inner-grid img{
      width: 350px;
      height: 440px;
      filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.05));
    }
    .more-button{
      background: #FFFFFF;
      border: 2px solid #C4C4C4;
      box-sizing: border-box;
      width: 147.02px;
      height: 45.83px;
      border-radius: 90px;
      text-align: center;
      margin: 0 auto;
      padding: 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 143.1%;
      text-align: center;
      color: #FF688C;
    }

    /*Section Part 4*/ 
    #design{
      width: 274px;
      height: fit-content;
    }

    .card-container
    {
      margin: 100px;
      display: flex;
    }
    
    .card-text{
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 154.7%;
    }

    .card-text span{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #696969;
    }
    .card1{
      padding: 0px 15px 0px 15px;
    }

    .card1 img{
        width: 100%; 
        height: 325px;
        filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.05));
        border-radius: 10px;
    }

    .section2-part5 img
    {
      width: 100%;
    }

    /*Bottom Navigation*/
    .footer{
      display: flex;
      margin:100px
    }

    .bottom_nav
    {
      list-style: none;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      color: #797979;
    }

    .imagetile
    {
      padding: 10px;
      margin-right: 300px;
    }

    .logo
    {
      height: 42.5px;
      width: 50px;
    }
    .logo-text{
      padding: 5px;
      height: 24px;
      width: 79px;
    }
    #space
    {
      padding-right: 80px;
    }
    .bottom_nav h3
    {
      color: #000000;
    }

    .copyright{
      display: flex;
      margin: 0px 100px 100px 100px;
    }
    .copyright i{
      color: #5E5E5E;
      text-align: right;
      padding: 2px 2px 0px 2px;
      font-size: 12px;
      margin: 0px 5px;
    }
    .copyright p{
      width: 50%
    }
    .copyright .icons
    {
      width: 50%;
      text-align: right;
    }
    @media only screen and (max-width : 992px)
{   
    .section2-part5
    {
          width: 1000px;
    }

    .backgroundimage
    {
    width: 1000px;
    }
    .left-nav img{
      width:50px;
      height:40px;
      position: absolute;
      top: 17px;
      left: 10px; 
    }

  .navbar_toggle {
    color: #fff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 20px;
    padding: 5px;
    top: 17px;
    right: 10px; 
  }
  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    align-items: center;   
  }
  .bottomnav{
    background-color: #459eb6;
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    flex-direction: column;
  }

  .main_nav{
    display: none;
  }

  .show_nav{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li{
    width: 100%;
    height: fit-content;
    padding: 10px;
    color: #6a6a6a;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .frame-text{
    position: absolute;
    width: 100%;
    height: 126px;
    left: 5px;
    top: 140px;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    line-height: 150%;
    }
    
    .text-wrapper{
      font-weight: normal;
      font-size: 18px;
      width: 100%;
      text-align: center;
      color: #7F7E7E;
      margin: 0 auto;
      padding-bottom: 0px 25px 50px 25px;
    }

    .textwidth{
      width: 75%;
    }

    .card{
      margin: 35px 10px 100px 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .image-container img
    {
      width: 100%;
      margin: 0 auto;
    }
    
    .text-container{
      text-align: center;
      margin: 0px;
      margin-bottom: 25px;
    }
    .image-container{
      margin-bottom: 25px;
    }
    .paddedtext
    {
      width: 75%;
      padding: 0px;
      margin: 0 auto;
    }

        /*Gallery*/
        .outer-grid
        {
          display: flex;
        }
    
        .inner-grid{
          margin: 0px 10px 0px 10px;
          max-height: 0 auto;
        }
        .inner-grid img{
          width: 100%;
          height: 400px;
          filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.05));
        }
        #design{
          width: 100%;
          height: fit-content;
        }
    

        .card-container
        {
          margin: 20px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        .card1{
          padding: 0px;
        }

        .footer{
          width: 100%;
          display: flex;
          margin:0px;
          align-content: center;
          flex-direction: column;
          justify-content: flex-start;
        }
        .card-text{
          text-align: center;
        }
        .bottom_nav
        {
          text-align: center;
        }
        .copyright{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0px auto;
        }

        .copyright p{
          width: 100%;
          text-align: center;
        }
        .copyright .icons
        {
          width: 100%;
          text-align: center;
          padding-bottom: 50px;
        }
            
        .imagetile
        {
          padding: 0px;
          margin: 0 auto;
        }
    
        #space
        {
          padding: 0px;
        }

        .section2-pfart5 img
        {
          width: 1000px;
        }
        .entirepage
        {
          width: 100%;
          height: fit-content;
          overflow-x: hidden;
        }
}
